.search-con{
    background: black;
    
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}


header h1{
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 30px;
    text-shadow: 0 0 15px #556051;
}

.search-form {
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 20px;
    margin-top: 8px;
  }
  .search-form .form-control {
    border-radius: 20px;
  }
  .search-form button {
    border-radius: 20px;
  }
  .search-form .input-group-text {
    background-color: transparent;
    border: none;
  }

  .navbar{
    display: flex;
    border-radius: 50px;
    top: 0;
    width: 95%;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(15px);
    padding: 15px;
    margin: 10px auto;
    position: static;
}

.navbar-brand{
  display: flex;
}

.navbar-brand h1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand img{
  
  animation: move 1s linear infinite;
}

@keyframes move{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
  
}

.bg-con{
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7));

}

.bg-image{
    
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: none;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}



.logoimage{

    height: 60px;
    margin: 10px;
}

ul li{
    font-size: 18px;
    color: black;
    margin: 10px;
    text-shadow: 0 0 15px #9c9e9b;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul li:hover{
  color: #111;
  transform: scale(1.2);
  text-shadow: none;
   
}

.login-btn{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 6px;
    border-radius: 5px;
    background: linear-gradient(135deg, rgb(24, 24, 24),rgb(111, 123, 123));
    color: white;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: 0.2s;
}



.login-btn:hover{
    background: linear-gradient(135deg, rgb(111, 123, 123),rgb(24, 24, 24));
    color: white;
}
 

/* Sidebar base styling */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #343a40;
  overflow-x: hidden;
  transition: width 0.3s ease;
  z-index: 9999;
}

.open{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #343a40;
  overflow-x: hidden;
  transition: width 0.3s ease;
  z-index: 9999;
}

.sidebar.open {
  width: 250px;
}

.sidebar-content {
  padding: 20px;
  color: white;
}

.sidebar-content ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-content ul li {
  margin: 15px 0;
}

.sidebar-content ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.sidebar-content ul li a:hover {
  text-decoration: underline;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

body.no-scroll {
  overflow: hidden;
}

.hamburger-btn {
  background: none;
  border: none;
  color: #333; /* Adjust color as needed */
  cursor: pointer;
}

.hamburger-btn i {
  font-size: 24px;
}

@media (min-width: 992px) {
  .hamburger-btn {
    display: none; /* Hide on larger screens */
  }
}


@media (max-width: 900px) {
  .search-form{
    
    margin-left: 50px;
  }
  .navbar{
    width: 85%;
    margin-left: 50px;
  }
  .navbar{
    margin-left: 10%;
  }
}

@media (max-width: 849px) {
  .search-form{
    width: 85%;
    margin-left: 50px;
  }
  .navbar{
    width: 85%;
    margin-left: 50px;
  }
  .navbar{
    margin-left: 12%;
  }
  .form-select, .form-control{
    margin: 10px;
  }

      
  
}

@media screen and (max-width: 680px){
  
  .search-form{
    width: 55%;
    margin-left: 30%;
    
  }
  .form-select, .form-control{
    margin: 10px;
  }
  .navbar{
    width: 65%;
    margin-left: 50px;
  }
  .navbar{
    margin-left: 30%;
  }
  .heading h1{
    font-size: 30px;
    text-align: center;
    margin-left: 20%;
  }
}