<section class="tp-sec">
    <h1 class="tp-heading">Trending Packages</h1>
    <div class="tp-cards">
        <div class="tp-card">
            <div class="tp-card-img">
                <img src="West-india.jpeg" alt="">
            </div>
            <div class="tp-card-content">
                <h2 class="tp-card-heading">West India Package</h2>
            </div>
        </div>
        <div class="tp-card">
            <div class="tp-card-img">
                <img src="East-india.jpg" alt="">
            </div>
            <div class="tp-card-content">
                <h2 class="tp-card-heading">East India Package</h2>
            </div>
        </div>
        
        <div class="tp-card">
            <div class="tp-card-img">
                <img src="north-india.jpg" alt="">
            </div>
            <div class="tp-card-content">
                <h2 class="tp-card-heading">North India Package</h2>
            
            </div>
        </div>
        <div class="tp-card">
            <div class="tp-card-img">
                <img src="south-india2.jpg" alt="">
            </div>
            <div class="tp-card-content">
                <h2 class="tp-card-heading">South India Package</h2>
            
            </div>
        </div>
       
    </div>

</section>
<router-outlet></router-outlet>