.tp-sec{
    background: rgb(233, 190, 134);
    width: 100%;
    padding: 40px;
    margin-top: 52vh;
    min-height: 60vh;
}

.tp-heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 0 0 15px #556051;
    color: black;
}

.tp-cards{
  
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.tp-card{
   
    width: 22%;
    
    border-radius: 30px;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 15px #141414;
    cursor: pointer;
}

.tp-card:hover{
    transform: scale(1.2);
}

.tp-card-img img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;
    
}

.tp-card-heading{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
   
    text-shadow: 0 0 15px #556051;
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 10%;
}


