<nav class="navbar navbar-expand-lg navbar-light" >
    <div class="container">
      <a class="navbar-brand" href="#">
        <!-- <img src="bus.png" style="width: 5rem;" alt="abhibus" class="logoimage"> -->
         <h1>BusFever</h1>
      </a>
      <!-- <div class="d-flex flex-column justify-content-center">
        <span>Trusted byss</span>
        <span class="font-weight-bold">5 Crore+ Travellers</span>
      </div> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon bi bi-bus"></i>Buses</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon bi bi-train"></i>Trains</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon bi bi-airplane"></i>Flights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon bi bi-building"></i>Hotels</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon bi bi-gift"></i>Offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon bi bi-ticket-perforated"></i>Track Ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="icon bi bi-headset"></i>Need Help?</a>
          </li>
          
        </ul>
      </div>
      <div>
        <a class="login-btn" href="#">Login</a>
      </div>
    </div>
  </nav>
  <div class="bg-con">
    <img src="japan-bus.jpg" alt="" class="bg-image"/>
  </div>
  
 
  <!-- <nav class="navbar">
    <div class="logo">
      <a href="#home">
        <img src="" alt="bus image"/>
      </a>
      <div class="logotext">
        <p>Trusted by</p>
        <span>5Cr+ travellers</span>
      </div>
    </div>
    <div class="nav-menu">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#">Buses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Trains</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Flights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Track Ticket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Help?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger" href="#">Login/SignUp</a>
        </li>
      </ul>
    </div>
  </nav>-->
  
<router-outlet /> 
