.ea-sec{
    /* background: rgb(233, 190, 134); */
    background-color: antiquewhite;
    width: 100%;
    padding: 40px;
   
    min-height: 60vh;
}

.redcard{
    background-color: rgb(231, 35, 0);
    width: 90%;
    margin: 90px auto;
    border-radius: 50px;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 70% ;
    padding: 50px;
    min-height: 400px;
    display: flex;
}

.rc-left{
    width: 60%;
    
    
}

.rc-left h3{
    margin: 30px auto;
    text-align: center;
    color: aliceblue;
    text-shadow: -1px 20px 20px #2b3029;

}

.rating-com{
    border-left:4px solid red ;
    
    padding: 5px;
}

.whitecard{
    background: white;
    width: 70%;
    border-radius: 30px;
    margin: 10px auto;
    padding: 40px;
}

.whitecard-text{
    display: flex;
    gap: 15px;
    font-size: 25px;
   margin: 10px auto;
}

.whitecard-text h5{
    font-size: 20px;
    text-align: center;
    
}

.ratings{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    
}

.rating-text{
    display: flex;
    gap: 10px;
}

.rc-right img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    
    box-shadow: 0px 30px 30px #141414;
    transform: scale(1.3);
    
}

@media (max-width:975px){
    .ea-sec{
        padding: 20px;
    }
    .ratings{
        font-size: 12px;
        padding: 20px;
    }
    .rating-text h4{
        font-size: 20px;
    }
    .rc-right{
        scale: 0.8;
    }
    .whitecard{
        width: 90%;
    }
}

@media (max-width: 849px) {
    .redcard{
        width: 100%;
        padding: 20px;
    }
    .rc-left{
        width: 100%;
    }
    .rc-right img{
        width: 300px;
        height: 300px;
    }
    .whitecard{
        width: 90%;
    }
  
}

  
  @media screen and (max-width: 680px){
    
    
  }
