<section class="ea-sec">
    <div class="redcard">
        <div class="rc-left">
            <h3>Enjoy the App</h3>
            <div class="whitecard">
                <div class="whitecard-text"><i class="text-success bi bi-check2-circle"></i><h5>Quick Access</h5></div>
                <div class="whitecard-text"><i class="text-success bi bi-check2-circle"></i><h5>Superior Live Tracking</h5></div>
                <div class="ratings">
                    <div class="rating-com">
                        <div class="rating-text">
                            <h4>4.5</h4><i class="bi-star-fill"></i>
                        </div>
                        <p>50M+ Downloads</p>
                        <h6>Playstore</h6>
                    </div>
                    <div class="rating-com">
                        <div class="rating-text">
                            <h4>4.6</h4><i class="bi-star-fill"></i>
                        </div>
                        <p>50M+ Downloads</p>
                        <h6>Appstore</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="rc-right">
            <img src="red-trolley.jpg"/>
        </div>
    </div>
    
       
    

</section>
