<div class="body">
  <img src="mountain.jpg" alt="" class="login-bg" />
  <div class="container">
    <input type="checkbox" id="flip" />
    <div class="cover">
      <div class="front">
        <img src="doubledeck.jpg" alt="" />
        <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="green-bus-road-mountains.jpg" alt="" />
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <!-- Login Form -->
      <div class="form-content">
        <div class="login-form">
          <div class="title">Login</div>
          <form (ngSubmit)="login()">
            <div class="input-boxes">
              <div class="input-box">
                <i class="bi bi-person-circle"></i>
                <input type="text" [(ngModel)]="userDetails.userName" [ngModelOptions]="{standalone: true}" placeholder="Enter your username" required />
              </div>
              <div class="input-box">
                <i class="bi bi-lock"></i>
                <input type="password" [(ngModel)]="userDetails.userPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter your password" required />
              </div>
              <div class="text"><a href="#">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Submit" />
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sign up now</label></div>
            </div>
          </form>
        </div>
        <!-- Signup Form -->
        <div class="signup-form">
          <div class="title">Signup</div>
          <form (ngSubmit)="register()">
            <div class="input-boxes">
              <div class="input-box">
                <i class="bi bi-person-circle"></i>
                <input type="text" [(ngModel)]="registerDetails.userName" [ngModelOptions]="{standalone: true}" placeholder="Enter your username" required />
              </div>
              <div class="input-box">
                <i class="bi bi-key-fill"></i>
                <input type="password" [(ngModel)]="registerDetails.userPassword" [ngModelOptions]="{standalone: true}" placeholder="Enter your password" required />
              </div>
              <div class="button input-box">
                <input type="submit" value="Submit" />
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
