<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="tyre.png" alt="abhibus" class="logoimage">
      <h1>BusFever</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="icon bi bi-bus"></i>Buses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="icon bi bi-gift"></i>Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="icon bi bi-ticket-perforated"></i>Track Ticket</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="icon bi bi-headset"></i>My Bookings</a>
        </li>
        <li><a class="login-btn" [routerLink]="['/login-page']">Get Started</a></li>
      </ul>
    </div>
    
  </div>
</nav>


    

   

<section>
    <div class="bg-con">
        <img src="japan-bus3.jpg" alt="" class="bg-image"/>
    </div>
</section>

<section>
  <div class="bookbus">
    <div class="left">
      <div class="left-border">
        <div class="name">
          <h5><b>{{busDetails.busName}}</b></h5>
        </div>
        <div class="info">
          <p class="card-text">Departure:</p>
          <p class="card-text"><strong>{{busDetails.departureTime}}</strong></p>
        </div>
        <div class="info">
          <p class="card-text">Duration:</p>
          <p class="card-text"><strong>{{duration}}</strong></p>
        </div>
        <div class="info">
          <p class="card-text">Arrival:</p>
          <p class="card-text"><strong>{{busDetails.arrivalTime}}</strong></p>
          <!-- <p class="text-danger">{{"8.00" |  date:'dd-MM-yy'}}</p> -->
        </div>
        <div class="info">
          
          <p  class="text-success">
            Total Price: INR {{ busDetails.price }}
          </p>
        </div>
        <button class="btn btn-danger" (click)="bookSeat()">Book Seat</button>
      </div>
    </div>
    <div class="right">
      
      <div class="bus-layout">
        <img src="steering.jpeg" alt="" class="bus-steering"/>
        <div class="seat-row" *ngFor="let seat of seats; let i = index">
          <button
            class="seat"
            [ngClass]="{
              'selected-seat': seat.selected,
              'booked-seat': seat.isBooked,
              'available-seat': !seat.selected && !seat.isBooked
            }"
            (click)="toggleSeat(i)"
            [disabled]="seat.isBooked"
          >
            {{ seat.number }}
          </button>
        </div>
      </div>
      
      <div class="seat-info">
        <p>Total Seats: {{ busDetails.totalSeats }}</p>
        <p>Available Seats: {{busDetails.availableSeats }}</p>
        <p>Selected Seats: {{ selectedSeatsCount }}</p>
        <p>Remaining Seats: {{ availableSeatsCount - selectedSeatsCount }}</p>
        <p >
          Chosen Seats: {{ selectedSeatNumbers.join(', ') }}
        </p>
      </div>
      
    </div>
    
  </div>
</section>


<!-- Modal Popup -->
<div class="modal" >
  <div class="modal-content">
    <p>Ticket booked successfully!</p>
    <button class="close-btn" (click)="closeModal()">Close</button>
  </div>
</div>