<div class="road">
    <div class="bus">
        <div class="bus-windows"></div>
        <div class="driving-window"></div>
        <div class="wheel1"><img src="tyre.png"/></div>
        <div class="wheel2"><img src="tyre.png"/></div>
    </div>
    <div class="bus" id="id2">
        <div class="bus-windows"></div>
        <div class="driving-window"></div>
        <div class="wheel1"><img src="tyre.png"/></div>
        <div class="wheel2"><img src="tyre.png"/></div>
    </div>
    <div class="bus" id="id3">
        <div class="bus-windows"></div>
        <div class="driving-window"></div>
        <div class="wheel1"><img src="tyre.png"/></div>
        <div class="wheel2"><img src="tyre.png"/></div>
    </div>
</div>
