* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.road{
    /* background: rgba(192, 183, 183, 0.1); */
    background: url("https://media.istockphoto.com/id/976747318/vector/road-along-the-field-and-mountains-landscape.jpg?s=612x612&w=0&k=20&c=p3GMiUBAmMVS8R2AmACsMza6F_N6Mf1UEP3jKlxeMAU=");
    display: flex;
    background-size:contain;
    background-repeat:round;
    width: 100%;
    margin-top: 10px;
    min-height: 100px;
    padding: 10px;
}

#id2{
    background: rgb(210, 210, 0);
    border: 1px solid rgb(251, 255, 0);
    animation: move 4.5s linear infinite;
}

#id3{
    background: rgb(95, 210, 0);
    border: 1px solid rgb(111, 255, 0);
    animation: move 5.8s linear infinite;
}

.bus{
    width: 150px;
    height: 50px;
    background: rgb(165, 9, 9);
    border: 1px solid red;
    border-radius: 5px 15px 5px 15%;
    padding: 5px;
    display: flex;
    gap: 5px;
    margin-top: 25px;
    position: relative;
    animation: move 5s linear infinite;
}

@keyframes move{
    0% {
        left: 0;
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    50%{
        left: 50%;
        opacity: 1;

    }
    90%{
        opacity: 1;
    }
    100%{
        left: 70%;
        opacity: 0;
    }
}

.bus-windows{
    width: 90%;
    height: 20px;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(101, 98, 98);
}

.driving-window{
    width: 15%;
    height: 20px;
    margin-right: -10px;
    background: rgb(0, 0, 0);
    border-radius: 0 15px 0 0;
    border: 1px solid rgb(101, 98, 98);
}

.wheel1 img{
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: -7px;
    left: 20px;
    animation: rotate 1s linear infinite;
    
}

.wheel2 img{
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: -7px;
    left: 110px;
    animation: rotate 1s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}